.header {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 10;
  height: 10rem;

  &__navigation {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__links {
    list-style-type: none;
    display: flex;
  }

  &__link {
    transition: all 0.1s;
  }

  &__link:not(:last-of-type) {
    margin-right: 2rem;
  }
  &__link:hover {
    cursor: pointer;
    background-color: $primary-color-2;
    transform: scale(1.1);
  }
}
