$project-color-1: #590d22;
$project-color-2: #a4133c;
$project-color-3: #c9184a;

.projects {
  height: 100vh;
  position: relative;

  &__background {
    background-color: $primary-color-1;

    &--top {
      height: 10rem;
      border-radius: 0 0 300px 300px;
      text-align: center;
      position: relative;

      & span {
        font-family: "Righteous", cursive;
        font-size: 3em;
      }
    }

    &--bottom {
      height: 5rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 300px 300px 0 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
  }

  &__image {
    display: block;
    border-radius: 4rem 4rem 0 0;
    box-shadow: $primary-box-shadow-2;
  }

  &__image-description {
    box-shadow: $primary-box-shadow-2;
    width: 320px;
    height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0 0 4rem 4rem;
    padding: 2rem;

    & * {
      margin-bottom: 2rem;
    }

    & p.project-name {
      font-size: 1.4em;
      font-family: "Righteous", cursive;
    }

    & p.project-tech {
      font-size: 0.9em;
      text-transform: none;
    }

    & ul.project-list {
      text-transform: none;
      list-style-type: none;
      letter-spacing: 0.5px;
    }

    & ul.project-list li {
      margin-bottom: 0.5rem;
    }
  }

  &__button-container {
    padding: 1rem 0;

    & button:last-of-type {
      margin-bottom: 0;
    }

    margin-bottom: 0;
  }
}
