$project-color-1: #590d22;
$project-color-2: #a4133c;
$project-color-3: #c9184a;

.projects {
  height: 100vh;
  position: relative;

  &__background {
    background-color: $primary-color-1;

    &--top {
      height: 10rem;
      border-radius: 0 0 300px 300px;
      text-align: center;
      position: relative;

      & span {
        font-family: "Righteous", cursive;
        font-size: 2em;
      }
    }

    &--bottom {
      height: 5rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 300px 300px 0 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;

    @include respond(tab-port) {
    }

    &--desktop {
      display: none;
      @include respond(tab-land) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 12rem 0;
      }
    }

    &--mobile {
      // @include respond(tab-port) {
      //   margin-bottom: 8rem;
      // }
      @include respond(tab-land) {
        display: none;
      }
    }
  }

  &__image {
    display: block;
    border-radius: 4rem 4rem 0 0;

    &--desktop {
      border-radius: 4rem 0 0 4rem;
    }
  }

  &__image-description {
    // box-shadow: $primary-box-shadow-2;
    width: 320px;
    height: auto;
    box-sizing: border-box;
    border-radius: 0 0 4rem 4rem;
    padding: 2rem;

    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @include respond(tab-port) {
      padding: 1rem 2rem;
    }

    & * {
      margin-bottom: 2rem;

      @include respond(tab-port) {
        margin-bottom: 1rem;
      }

      @include respond(tab-land) {
        margin-bottom: 0;
      }
    }

    & p.project-name {
      font-size: 1.4em;
      font-family: "Righteous", cursive;
      @include respond(tab-port) {
        font-size: 1em;
      }
    }

    & p.project-tech {
      font-size: 0.9em;
      text-transform: none;

      @include respond(tab-port) {
        font-size: 0.8em;
      }
    }

    & ul.project-list {
      text-transform: none;
      list-style-type: none;
      letter-spacing: 0.5px;
    }

    & ul.project-list li {
      margin-bottom: 0.5rem;
    }

    &--desktop {
      border-radius: 0 4rem 4rem 0;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 0;
    }
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4rem;

    width: 320px;
    background-color: $primary-color-1;

    box-shadow: $primary-box-shadow-2 !important;

    &--desktop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 4rem;

      background-color: $primary-color-1;

      box-shadow: $primary-box-shadow-2 !important;
      height: 315px !important;
    }
  }

  &__button-container {
    padding: 1rem 0;

    & button:last-of-type {
      margin-bottom: 0;
    }

    & button {
      @include respond(tab-land) {
        margin-bottom: 2rem;
        height: 4rem;
      }

      @include respond(tab-port) {
        height: 4rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    margin-bottom: 0;
  }
}
