.skills {
  height: 100vh;
  position: relative;

  &__background {
    background-color: $primary-color-1;

    &--top {
      height: 10rem;
      border-radius: 0 0 300px 300px;
      text-align: center;
      position: relative;

      & span {
        font-family: "Righteous", cursive;
        font-size: 2em;
      }
    }

    &--bottom {
      height: 5rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 300px 300px 0 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 8rem;
    grid-column-gap: 2rem;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 6rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include respond(tab-land) {
      grid-column-gap: 5rem;
      grid-row-gap: 6rem;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 5rem;
      grid-row-gap: 6rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 5rem;
  }

  &__image-text {
    margin-top: 2rem;
  }
}
