/*
1em = 16px

*/
.btn {
  width: 100%;
  height: 6rem;
  outline: none;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fce205;
}

.center-horizontal {
  margin: 0 auto;
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 6rem;
}

.header {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 10;
  height: 10rem;
}
.header__navigation {
  display: none;
}
@media (min-width: 56.25em) {
  .header__navigation {
    display: flex;
    justify-content: end;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fce205;
    padding-right: 1rem;
  }
}
.header__links {
  list-style-type: none;
  display: flex;
}
.header__link {
  transition: all 0.1s;
}
.header__link:not(:last-of-type) {
  margin-right: 2rem;
}
.header__link:hover {
  cursor: pointer;
  background-color: #ffc30b;
  transform: scale(1.1);
}

.box-top {
  height: auto;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #fff;
  padding: 2rem 4rem;
}
.box-top--home {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
}
@media (min-width: 37.5em) {
  .box-top--home {
    width: 35rem;
  }
}
.box-top--projects {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}

.box-bottom {
  height: auto;
  width: 80vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-size: 0.9em;
}
.box-bottom--home {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}

.circle {
  height: 20rem;
  width: 80vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  /* class if circle is needed to centered */
}
.circle--center {
  margin: 0 auto;
}
@media (min-width: 37.5em) {
  .circle {
    height: 16rem;
    width: 80vw;
  }
}

.hamburger {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  right: 2%;
  top: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger:hover {
  cursor: pointer;
}
@media (min-width: 56.25em) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  display: block;
  height: 0.2rem;
  width: 60%;
  background-color: #000;
  transition: all 0.1s;
}
.hamburger__line::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 60%;
  background-color: #000;
  position: absolute;
  top: 35%;
  transition: all 0.5s;
}
.hamburger__line::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 60%;
  background-color: #000;
  position: absolute;
  bottom: 35%;
  transition: all 0.5s;
}
.hamburger__line--clicked {
  background-color: transparent;
}
.hamburger__line--clicked::before {
  transform: rotate(135deg);
  top: 50%;
}
.hamburger__line--clicked::after {
  transform: rotate(-135deg);
  bottom: 0;
  bottom: 50%;
}
.hamburger__menu {
  position: fixed;
  width: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  z-index: 10;
  top: 12rem;
  right: 0;
  padding: 2rem 6rem;
  background-color: #fce205;
}
@media (min-width: 56.25em) {
  .hamburger__menu {
    display: none;
  }
}
.hamburger__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.5em;
}
.hamburger__link {
  margin-bottom: 2rem;
}
.hamburger__link:hover {
  cursor: pointer;
}

.home {
  height: 100vh;
  position: relative;
}
.home__typing-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: fit-content;
  font-family: "Righteous", cursive;
  font-size: 3em;
}
@media (min-width: 37.5em) {
  .home__typing-container {
    top: 25%;
    font-size: 2.5em;
  }
}
.home__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.home__welcome-text--1 {
  font-size: 1.5em;
}
@media (min-width: 37.5em) {
  .home__welcome-text--1 {
    font-size: 2em;
  }
}
.home__background {
  background-color: #fce205;
}
.home__background--top {
  height: 45%;
  border-radius: 0 0 300px 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.home__background--bottom {
  height: 10rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.home__bio {
  padding: 2rem;
  text-transform: none;
}

.projects {
  height: 100vh;
  position: relative;
}
.projects__background {
  background-color: #fce205;
}
.projects__background--top {
  height: 10rem;
  border-radius: 0 0 300px 300px;
  text-align: center;
  position: relative;
}
.projects__background--top span {
  font-family: "Righteous", cursive;
  font-size: 2em;
}
.projects__background--bottom {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.projects__container--desktop {
  display: none;
}
@media (min-width: 56.25em) {
  .projects__container--desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12rem 0;
  }
}
@media (min-width: 56.25em) {
  .projects__container--mobile {
    display: none;
  }
}
.projects__image {
  display: block;
  border-radius: 4rem 4rem 0 0;
}
.projects__image--desktop {
  border-radius: 4rem 0 0 4rem;
}
.projects__image-description {
  width: 320px;
  height: auto;
  box-sizing: border-box;
  border-radius: 0 0 4rem 4rem;
  padding: 2rem;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 37.5em) {
  .projects__image-description {
    padding: 1rem 2rem;
  }
}
.projects__image-description * {
  margin-bottom: 2rem;
}
@media (min-width: 37.5em) {
  .projects__image-description * {
    margin-bottom: 1rem;
  }
}
@media (min-width: 56.25em) {
  .projects__image-description * {
    margin-bottom: 0;
  }
}
.projects__image-description p.project-name {
  font-size: 1.4em;
  font-family: "Righteous", cursive;
}
@media (min-width: 37.5em) {
  .projects__image-description p.project-name {
    font-size: 1em;
  }
}
.projects__image-description p.project-tech {
  font-size: 0.9em;
  text-transform: none;
}
@media (min-width: 37.5em) {
  .projects__image-description p.project-tech {
    font-size: 0.8em;
  }
}
.projects__image-description ul.project-list {
  text-transform: none;
  list-style-type: none;
  letter-spacing: 0.5px;
}
.projects__image-description ul.project-list li {
  margin-bottom: 0.5rem;
}
.projects__image-description--desktop {
  border-radius: 0 4rem 4rem 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
}
.projects__details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4rem;
  width: 320px;
  background-color: #fce205;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}
.projects__details--desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4rem;
  background-color: #fce205;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
  height: 315px !important;
}
.projects__button-container {
  padding: 1rem 0;
  margin-bottom: 0;
}
.projects__button-container button:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 56.25em) {
  .projects__button-container button {
    margin-bottom: 2rem;
    height: 4rem;
  }
}
@media (min-width: 37.5em) {
  .projects__button-container button {
    height: 4rem;
  }
}
.projects__button-container button:hover {
  cursor: pointer;
}

.skills {
  height: 100vh;
  position: relative;
}
.skills__background {
  background-color: #fce205;
}
.skills__background--top {
  height: 10rem;
  border-radius: 0 0 300px 300px;
  text-align: center;
  position: relative;
}
.skills__background--top span {
  font-family: "Righteous", cursive;
  font-size: 2em;
}
.skills__background--bottom {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8rem;
  grid-column-gap: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 6rem;
}
@media (min-width: 37.5em) {
  .skills__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 56.25em) {
  .skills__container {
    grid-column-gap: 5rem;
    grid-row-gap: 6rem;
  }
}
@media (min-width: 75em) {
  .skills__container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 6rem;
  }
}
.skills__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__image {
  width: 5rem;
}
.skills__image-text {
  margin-top: 2rem;
}

.experience {
  height: 100vh;
  position: relative;
}
.experience__background {
  background-color: #fce205;
}
.experience__background--top {
  height: 10rem;
  border-radius: 0 0 300px 300px;
  text-align: center;
  position: relative;
}
.experience__background--top span {
  font-family: "Righteous", cursive;
  font-size: 2em;
}
.experience__background--bottom {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.experience__line {
  height: 70vh;
  width: 0.5rem;
  background-color: #fce205;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 56.25em) {
  .experience__line {
    height: 0.5rem;
    width: 90vw;
    flex-direction: row;
    align-items: center;
  }
}
.experience__box {
  width: 50vw;
  height: auto;
  background-color: #fce205;
  transform: translateX(-50%);
  text-align: center;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  text-transform: none;
  transition: all 0.2s;
}
@media (min-width: 56.25em) {
  .experience__box {
    transform: none;
    height: auto;
    width: auto;
  }
}
.experience__box:hover {
  cursor: pointer;
  transform: scale(1.2) !important;
}
.experience__box span {
  line-height: 4rem;
  font-size: 1.2em;
}
@media (min-width: 56.25em) {
  .experience__box span {
    line-height: 3rem;
  }
}
.experience__details {
  position: absolute;
  height: 100%;
  width: 80vw;
  background-color: #fce205;
  transform: translateX(-50%);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}
@media (min-width: 56.25em) {
  .experience__details {
    height: 55vh !important;
    transform: none;
    margin: 0 auto !important;
    right: 0;
    left: 0;
  }
}
.experience__details-cross {
  position: absolute;
  top: 2%;
  right: 6%;
  font-size: 2em;
}
.experience__details-cross:hover {
  cursor: pointer;
}

.education {
  height: 100vh;
  position: relative;
}
.education__background {
  background-color: #fce205;
}
.education__background--top {
  height: 10rem;
  border-radius: 0 0 300px 300px;
  text-align: center;
  position: relative;
}
.education__background--top span {
  font-family: "Righteous", cursive;
  font-size: 2em;
}
.education__background--bottom {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.education__line {
  left: 10%;
  font-size: 0.9em;
}
@media (min-width: 56.25em) {
  .education__line {
    top: 66%;
    left: 50%;
  }
}
.education__flag {
  display: flex;
  width: fit-content;
}
@media (min-width: 56.25em) {
  .education__flag {
    flex-direction: column;
    align-items: center;
  }
}
.education__flag:last-of-type {
  align-items: flex-end;
}
@media (min-width: 56.25em) {
  .education__flag:first-of-type {
    align-items: flex-start;
  }
}
.education__flag-circle {
  display: block;
  background-color: #fce205;
  width: 3rem;
  height: 0.5rem;
}
@media (min-width: 56.25em) {
  .education__flag-circle {
    width: 0.5rem;
    height: 3rem;
    margin-top: 6rem;
  }
}
.education__flag-text {
  margin-left: 2rem;
  line-height: 0.7;
  font-weight: 700;
}
@media (min-width: 56.25em) {
  .education__flag-text {
    margin-left: 0;
    margin-top: 2rem;
  }
}
.education__text-container {
  position: absolute;
  width: 12rem;
  height: 0.5rem;
  background-color: #fce205;
}
@media (min-width: 56.25em) {
  .education__text-container {
    width: 0.5rem;
    height: 12rem;
  }
}
.education__text-container--1 {
  top: 10%;
}
@media (min-width: 56.25em) {
  .education__text-container--1 {
    top: auto;
    bottom: 0;
    left: 10%;
  }
}
.education__text-container--2 {
  top: 30%;
}
@media (min-width: 56.25em) {
  .education__text-container--2 {
    top: auto;
    bottom: 0;
    left: 30%;
  }
}
.education__text-container--3 {
  top: 50%;
}
@media (min-width: 56.25em) {
  .education__text-container--3 {
    top: auto;
    bottom: 0;
    left: 50%;
  }
}
.education__text-container--4 {
  top: 70%;
}
@media (min-width: 56.25em) {
  .education__text-container--4 {
    top: auto;
    bottom: 0;
    left: 70%;
  }
}
.education__text-container--5 {
  top: 90%;
}
@media (min-width: 56.25em) {
  .education__text-container--5 {
    top: auto;
    bottom: 0;
    left: 90%;
  }
}
.education__text {
  position: absolute;
  left: 100%;
  transform: translate(10%, -50%);
  width: 25rem;
  text-align: center;
  text-transform: none;
}
@media (min-width: 56.25em) {
  .education__text {
    width: 15rem;
    transform: translate(-50%, -120%);
  }
}
.education__text span {
  text-transform: uppercase;
  font-weight: 700;
}
.education__text--experience {
  transform: translate(-50%, -250%);
  font-weight: 700;
}

.contactme {
  height: 100vh;
  position: relative;
}
.contactme__background {
  background-color: #fce205;
}
.contactme__background--top {
  height: 10rem;
  border-radius: 0 0 300px 300px;
  text-align: center;
  position: relative;
}
.contactme__background--top span {
  font-family: "Righteous", cursive;
  font-size: 2em;
}
.contactme__background--bottom {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 300px 300px 0 0;
}
.contactme__container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: auto;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem !important;
}
@media (min-width: 37.5em) {
  .contactme__container {
    margin-top: 4rem !important;
  }
}
.contactme__container label {
  text-transform: capitalize;
}
.contactme__container p {
  margin-bottom: 3rem;
}
@media (min-width: 37.5em) {
  .contactme__container p {
    margin-bottom: 1rem;
  }
}
.contactme__input {
  width: 90%;
  outline: none;
  height: 4rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding-left: 1rem;
  border-radius: 10rem;
}
@media (min-width: 56.25em) {
  .contactme__input {
    height: 3rem;
    width: 50%;
  }
}
.contactme__input[type=submit] {
  background-color: #fce205;
  border-radius: 10rem;
  border: none;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
@media (min-width: 56.25em) {
  .contactme__input[type=submit] {
    height: 4rem;
  }
}
.contactme__input[type=submit]:hover {
  cursor: pointer;
}
.contactme__textarea {
  height: 25rem;
  padding-top: 1rem;
  font-family: inherit;
  border-radius: 3rem;
}
@media (min-width: 56.25em) {
  .contactme__textarea {
    height: 12rem;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}
@media (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 56.25em) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 87.5;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*# sourceMappingURL=index.css.map */
